{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title%} {{title}} {% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<style>
    #mapid {height:300px}
</style>
{% endblock %}

{% block page_content%}
<h1>{{ _('Hello %(name)s', name = name) }}</h1>
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
<div>
    {% if current_user.can(FPermission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}

<div id="mapid"></div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
 <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
 <script>
     var mymap = L.map('mapid').setView([23.345, 113.345], 13);
     //http://t{s}.tianditu.cn/DataServer?T=vec_w&X={x}&Y={y}&L={z}
     L.tileLayer('http://t{s}.tianditu.com/vec_w/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=vec&STYLE=default&TILEMATRIXSET=w&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=tiles', {
    attribution: 'Map data &copy; <a href="http://www.tianditu.com">TianDiTu</a> contributors, <a href="http://www.ctune.cn">R & D</a>, Product © <a href="http://www.chinadci.com">ChinaDCI</a>',
    maxZoom: 18,
    subdomains: ['0', '1', '2', '3', '4', '5', '6', '7']
}).addTo(mymap)
</script>
{% endblock %}